<div class="sign-in-area">
  <div class="section">
    <div>
      <%= image_tag 'Fesquid.png', class: "responsive-img center" %>
    </div>
    <%= form_with(url: create_session_path, local: true) do |form| %>
      <div class="box-margin">
        <label>ユーザー名</label>
        <%= form.text_field :name, value:  @last_login_user&.name %>
      </div>
      <div class="actions center">
        <%= form.submit "ログイン", class: "btn-large"%>
      </div>
    <% end %>
    <hr />
    <div class="description">
      <ul>
        <li>
          Splatoon2で行われた"フェス"っぽい企画を作成して、
          勝率を集計するセルフフェス企画運営サイトです。
        </li>
        <li>
          当サイトではCookie(食べられません)を使用しています。
          ブラウザの履歴を削除すると、ログイン情報が失われ、
          戦績の記録がなくなってしまいますのでご注意ください。
        </li>
        <li>
          当サイトでは個人情報は扱わず、任天堂Switchアカウント情報との連携なども行っていません。
        </li>
      </ul>
    </div>
  </div>
</div>