body {
  background-color: #333;
  font-family: "yasashisa";
  font-weight: bold;
}

div.section-title {
  font-family: "yasashisa";
  font-weight: 800;
  font-size: 1.8rem;
  margin-bottom: 30px;
}

span.card-title {
  font-family: "yasashisa" !important;
  font-weight: bold !important;
  font-size: 1.3rem !important;
  background-color:rgba(255,255,255,0.4);
  color: black !important;
  border-radius: 10px
}

div.sign-in-area {
  height: 600px;
  width: 400px;
  margin: 50px auto 30px auto;
}

a {
  margin-right: 5px;
  margin-left: 5px;
}

div.no-border-box{
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
}

input[type="submit"]{
  color: #FFFFFF;
}

div#message-area{
  background-color: #eec;
}

div.section {
  background: #fff;
  margin: 20px 5px 20px 5px;
  padding: 10px 20px 10px 20px;
}

div.card {
  margin: 5px;
  min-width: 280px;
}

label.minimum-text {
  color: #ccc;
  font-size: 0.5rem;
  margin: 2px;
}

label.fest-status {
  padding: 8px;
  font-size: 1.2rem;
  font-weight: normal;
  color: black;
  box-shadow: 3px 2px rgba(0,0,0,0.4);
}
label.not_open{
  background-color: #ffc;
}
label.open{
  background-color: #acf;
}
label.close{
  background-color: #ccc;
}

label.fest-status-open {
  background-color: #669;
  font-size: 1.0rem;
  color: black;
}

label.fest-status-open {
  background-color: #669;
  font-size: 1.0rem;
  color: black;
}

label.fest-result {
  padding: 8px;
  font-size: 1.2rem;
  font-weight: normal;
  color: black;
}

.btn{
  margin-top: 5px;
}

label.checkbox-label{
  font-weight: normal;
  color: black;
  margin-right: 15px;
}

.box-margin {
  margin: 5px;
}

.large-text {
  font-size: 1.5rem;
  margin-left: 3px;
  margin-right: 3px;
}

.description {
  font-weight: normal;
  font-size: 0.8rem;
  color: #666;
  li {
    list-style-type: square !important;
    margin: 5px 8px 5px 8px;
  }
}