<nav>
  <div class="nav-wrapper">
    <%= link_to fests_path, class: "brand-logo center" do |link|%>
      <div class="header-logo-box center">
        <%= image_tag 'application-logo.png', class: "responsive-img" %>
      </div>
    <% end %>
    <% if session[:user_id].present? %>
      <ul id="nav-mobile" class="right ">
        <li><%= link_to "ログアウト", {controller: 'session', action: 'destroy'}, {method: :post} %></li>
      </ul>
    <% end %>
  </div>
</nav>
